{% extends 'shop/index.html' %}
{% block image %}

{% endblock %}

{% block blog %}
  active
{% endblock  %}

{% block body %}
<div style="display: flex; justify-content:space-between; margin-top: 53px;" class="container">
    <div style="margin-bottom: 50px;" class="container">
        <h1 class="fw-light">{{post_data.0.title}}</h1>
        <h5 class="fw-light">{{post_data.0.Timestamp}}</h5>
        <hr>
        <h2 class="fw-light">{{post_data.0.heading1}}</h2>
        <p class="lead text-muted">{{post_data.0.h1content}}</p>
        <h2 class="fw-light">{{post_data.0.heading2}}</h2>
        <p class="lead text-muted">{{post_data.0.h2content}}</p>

        <div class="fb-share-button" data-href="http://127.0.0.1:8000/blog/post_view/{{post.0.post_id}}" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2Fblog%2Fpost_view%2F3&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
    </div>
    <div>
        <img style="border: 2px;
        border-radius: 20px;" width="524px;" src="/media/{{post_data.0.image}}" alt="asdasdasd">
    </div>
   
</div>


<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ur_PK/sdk.js#xfbml=1&version=v11.0" nonce="qFVgMgJq"></script>
{% endblock %}
